* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
}

body {
    position: relative;
    font-family: sans-serif;
}

.calculator {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #dad4cd;
    padding: 50px 25px;
    width: 400px;
    border-radius: 25px;
    box-shadow: 0 0 12px 9px grey;
}

.calculator-grid {
    display: grid;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: repeat(6, minmax(80px, auto));
    gap: 10px;
}

.calculator button {
    font-size: 30px;
    color: white;
    background-color: #393838;
    cursor: pointer;
    border-radius: 20px;
    border: none;
    box-shadow: 1px 3px 6px 2px grey;
}

.calculator .output {
    background-color: #c2c0ac;
    grid-column: 1/5;
    border-radius: 10px;
    height: 100px;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.calculator .output .previous-operand {
    color: #dcdcdc;
    font-size: 30px;
}

.calculator .output .current-operand {
    color: #ffffff;
    font-size: 40px;
}


.calculator #zero {
    grid-column: 1/3;
}

.calculator #equal {
    grid-row: 5/7;
    grid-column: 4/5;
}

.calculator #all-clear, #clear {
    background-color: #df5140;
}